{% extends 'rooms/layout.html' %}

{% block content %}
<h1>CHAT ROOMS</h1>
<div id="roomBox" class="roomBox">
	<table>
		<tbody>
			{% for r in rooms %}
			<tr><td onclick="goto('{{r}}');">
				{{r}}
			</td></tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="footer">
   	<button id="myBtn" class="btn btn-primary" style="margin-left: 20px">New Room</button>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form method="POST" action="/new-room">
    	<input class="col" type="text" name="roomTitle" placeholder="room title">
    	<input type="submit" name="submit" value="submit">
    </form>
  </div>

</div>
{% endblock %}