<html>
	<head>
		<title>Login</title>	
	</head>
	<body>
		<form action="#" method="GET">
			<input type="text" class="username" placeholder="username"/>
			<button type="submit" class="btn btn-primary">
		    <i class="material-icons">send</i>
		    </button>
		</form>
		<script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/socket.io-1.7.3.min.js') }}"></script>
		<script>
			function setCookie(name,value,days) {
		    var expires = "";
		    if (days) {
		        var date = new Date();
		        date.setTime(date.getTime() + (days*24*60*60*1000));
		        expires = "; expires=" + date.toUTCString();
		    }
		    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
			}
			function getCookie(name) {
			    var nameEQ = name + "=";
			    var ca = document.cookie.split(';');
			    for(var i=0;i < ca.length;i++) {
			        var c = ca[i];
			        while (c.charAt(0)==' ') c = c.substring(1,c.length);
			        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
			    }
			    return null;
			}
			function eraseCookie(name) {   
			    document.cookie = name+'=; Max-Age=-99999999;';  
			}
			var form = $( 'form' ).on( 'submit', function( e ) {
			  e.preventDefault()
			  let user_input = $( 'input.username' ).val()
    		  setCookie('username',$( 'input.username' ).val(),10000);
    		  window.location.href = document.location+"/chat/dashboard";
    		} )
		</script>
	</body>
</html>