<script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io-1.7.3.min.js') }}"></script>
<script type="text/javascript">

  // socket.io script
  var room = '{{room}}';
  setCookie('room',room,10000);
  var mB = document.getElementById('messageBox');
  var socket = io.connect('http://' + document.domain + ':' + location.port, {
    'sync disconnect on unload': true });
  let user_name = getCookie('username');
  addMessageInputListener(socket);

  socket.on('connect', function(){
    socket.emit('connection-event');
    console.log('room-{{ room }}');
  })
  window.addEventListener("beforeunload", function (e) {
      socket.disconnect();
      (e || window.event).returnValue = null;
      return null;
  });
  socket.on('update-online-users-'+room, function( newUser, usernames ){
    document.getElementById('onlineUsers').innerHTML = "";
    $( 'div.message_holder' ).append( '<div><b style="color: #000">'+newUser+' connected.</div>' );
    addUserToOnlineDiv(usernames);
  })
  socket.on('disconnect-online-users-'+room, function( newUser, usernames ){
    console.log('disconnect online users');
    document.getElementById('onlineUsers').innerHTML = "";
    $( 'div.message_holder' ).append( '<div><b style="color: #000">'+newUser+' disconnected.</div>' );
    addUserToOnlineDiv(usernames);
  })

  socket.on( 'message-broadcast-'+room, function( msg ) {
    var scrollBottom = false;
    if(mB.scrollHeight - (mB.scrollTop + mB.clientHeight) < 2)
      scrollBottom = true;
    $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+':</b> '+msg.message+'</div>' )
    if(scrollBottom)
      mB.scrollTop = mB.scrollHeight;
  })

  function addMessageInputListener(socket){
    $( 'form' ).on( 'submit', function( e ) {
      e.preventDefault()
      let user_input = $( 'input.message' ).val()
      socket.emit( 'room', {
        user_name : user_name,
        message : user_input,
        room : '{{room}}'
      } )
      $( 'input.message' ).val( '' ).focus()
    } )
  }
  function addUserToOnlineDiv(usernames){
    for(var i = 0; i < usernames.length; i++){
        $("#onlineUsers").append(
          '<tr><td>' + usernames[i] + 
          '</td></tr>')
      }
  }
  function logout(){
    socket.emit('disconnection-event', getCookie('username'))
    firstConnect = true;
    eraseCookie('username');
    window.location.href = document.location+"/";
  }
  // get cookie
  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }
  function eraseCookie(name) {   
      document.cookie = name+'=; Max-Age=-99999999;';  
  }
  function goto(room){
    window.location.href = document.location.protocol+'//'+document.location.host+"/chat/"+room;
  }
</script>